/* estilo geral da página, o objetivo aqui era se assemelhar com um terminal de computador antigo */
* {
    background-color: #0D0D0D;
    font-family: 'Silkscreen', cursive;
    color:#26c620;
}

/* barra de navegação */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 75px;
    font-size: 28px;
}

/* o objetivo dessa parte era fazer uma éspecie de cartão de visitas logo no ínicio da página,
com as informações principais */
.container {
    display: flex; /* Define o container como flex */
    align-items: flex-start; /* Alinha os itens verticalmente */
    border: 1px solid #26c620;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
  }
  
.eu {
    margin-right: 10px;
	width: 300px; /* Defina a largura desejada */
    height: auto; /* A altura é ajustada proporcionalmente */
    
    
}

.data {
    font-size: 30px;
    margin: 0;
}

/* parte da mini-biografia */
.biocontainer{
    font-size: 18px;
}

.hobbiescontainer{
    display: flex; /* Container flex */
    border: 1px solid #26c620;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    align-items: flex-start; /* Alinha os itens verticalmente ao centro */
}

/* parte dos meus hobbies */
.rpg {
  	margin-right: 10px;
 	border: 3px solid #26c620;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    width: 650px; /* Defina a largura desejada */
    height: auto; /* A altura é ajustada proporcionalmente */
}

.conteudo {
    flex: 1; /* O conteúdo expande para ocupar o espaço restante */
    font-size: 18px;
}

/* formulário para contato */
.formcontainer{
    display: flex;
    justify-content: center; /* Alinhar horizontalmente ao centro */
    align-items: center; /* Alinhar verticalmente ao centro */
    height: 25vh; /* Altura da janela de visualização */
}

.div1{
    border: 1px solid #26c620; /* Borda sólida verde */
    border-radius: 10px; /* Raio de curvatura de 10 pixels */
    padding: 10px; /* Espaçamento interno */
    font-size: 18px;
}